@import 'tailwindcss';

@plugin "daisyui" {
  themes: winter --default, halloween --prefersdark;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/Montserrat.ttf) format("ttf");
  }
}

@theme {
  --font-display: "Montserrat", sans-serif; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    transition-delay: 9999s;
}
